#menu {
	min-height:  68px;
}

.navbar::before {
	background: #51A60F;
	opacity: 0.8;
}

#mistake__list {
	background: #F9F9F9;
	padding: 0;
}

.body__menu--from, .body__menu--price{
	padding-top: 20px;
}

.body__menu--from h3, .body__menu--price h3{
	border-radius: 0;
}

.body__fruit--fruit h5{
	position: absolute;
	top: 100%;
	font-size: 12px;
}

.body__fruit--title {
	padding-top: 25px;
	padding-bottom: 35px;
}

.sort {
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}

.sort h3 {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sort__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	align-items: center;
	text-align: center;
	color: #000000;
}

.sort__title i {
	padding-left: 25px;
}

.sort__hide {
	border: 1px solid rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 3;
	background: white;
	width: 90%;
	display: none;
}

.sort__hide div:hover {
	color: #37ca31;
}
.sort__hide div:first-child {
	background: #37ca31;
    color: white;
}

.sort__hide--title {
	padding: 10px;
	margin: 0;
	font-size: 14px;
	padding-left: 20px;
}

.nextpage {
	text-align: center;
}

.nextpage h4{
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 0.5rem 0.75rem;
}

.nextpage a{
	color: black;
}

.nextpage a i {
	font-size: 18px;
	display: inline-block;	
	position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%,-50%);
}

.nextpage a:last-child i {
	float: right;
	left: 86%;
    transform: translate(-50%,-50%);
}

.nextpage__pagename {
	display: inline-block;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
