@media (min-width: 1200px) {
	/*----------------about---------------------*/
	.body__order--title p:last-child {
		padding-left: 217px;
	}

}

@media (max-width: 1199px) {
	/*----------------about---------------------*/
	/*-------------footer-------------*/
	.footer__footer--cl h3 {
		font-size: 24px;
	} 
}

@media (max-width: 1024px) {
	/*index*/
	.copy__origin:nth-child(3) {
		padding: 0;
	}

	.body__menu h3 {
		width: 100%;
	}

	.body__menu p{
		width: 100%;
	}

	.body__fruit--title div p {
		width: 100%;
		font-size: 20px;
	}

	.page__nav {
		padding-left: 115px;
	}

	.body__kind--fruit p {
		font-size: 42px;
	}

	.list__sp a div img {
		height: 162.5px;
	}
	/*contact*/
	.fb__img--img img {
		height: 202.5px;
	}
}


@media (max-width: 992px) {
	/*----------------about---------------------*/
	.copy__origin--show {
		display: none;
	}

	.copy__origin--hide {
		display: block;
	}
	
	/*---------------footer--------------------*/
	.footer__footer--cl h3 {
		font-size: 22px;
	} 
}

@media (max-width: 991px) {
	.body__kind--fruit p {
		font-size: 28px;
	}

	.body__kind--fruit .img-fluid {
		height: 133px;
	}

}

@media(max-width: 768px) {
	.body__menu{
		padding: 0;
	}

	.body__menu h3 {
		font-size: 16px;
	}

	.body__menu p i {
		padding-left: 20px;
	}

	.page__nav {
		padding-left: 0; 
	}

	.news__title {
		padding-top: 15px;
	}

	.news__text {
		font-size: 17px;
	}

	.body__order--phone {
		padding-top: 55px;
	}

	.body__order--title p:first-child {
		padding-top: 30px;
	}

	.list__sp a div img {
		height: 100%;
	}

	.list__sp a div img {
		height: 112.5px;å
	}

	/*contact*/
	.fb__img--img img {
		height: 142.5px;
	}

	.contact__name input {
		width: 70%;
	}

	.contact__submit {
		padding-right: 35px;
	}	

	

	/*list*/
	.body__fruit--title {
		padding-top: 30px;
		padding-bottom: 35px;
	}
	.body__product {
		padding-bottom: 30px;

	}
	.product__list {
		max-height: 635px;
	}
	
	/*list-product*/
	.sort__title i {
		padding-left: 12px;
	}

	.sorting {
		padding: 0;
	}

	.body__fruit--fruit h5 {
		width: 120%;
	}

	.nextpage h4 {
		padding: 0.2rem 0.3rem;
	}

	/*product*/
	.product__img img {
		max-width: 130%;
	}

	.basic__introduce {
		padding-bottom: 20px;
	}

	.share {
		padding-top: 20px;
	}

	.product__in4 {
		padding-top: 10px;
	}

	.same__pro img {
		height: 140px;
	}

	/*collection*/
	.collect__total--total {
		padding: 0;
	}

	.tich {
		padding-left: 0px;
		padding-right: 10px;
	}

	/*pay*/
	.pay__by--how, .transport--how {
		padding-left: 0;
	}
	
}


@media (max-width: 767px) {
	/*----------------about---------------------*/
	.copy__origin--show {
		display: block;
	}

	.copy__origin--hide {
		display: none;
	}
	
	/*---------------footer--------------------*/
	/*--------index--------*/
	.body__kind--fruit .img-fluid {
		width: 100%;
		object-fit: cover;
		height: 200px

	}

	.body__kind--fruit {
		padding-bottom: 30px;
	}

	.body__kind--fruit p {
		font-size: 48px;
	}

	.pay__add--address {
		padding-right: 0;
	}

}

@media (max-width: 414px) {
	.body__fruit--title {
		padding: 0;
	}

	.body__menu {
		display: none;
	}

	.list__sp--price {
		padding-bottom: 0;
	}
	.body__order--title p {
		font-size: 22px;
		padding-left: 0;
	}

	.body__order--title p {
		float: none;
		text-align: center;
	}
	.body__order--phone {
		padding-top: 0;
	}

	.body__order--phone {
		padding-left: 60px;
		padding-top: 10px;
	}

	.footer__icon i {
		padding: 10px 35px;
	}
	.page__ul li:first-child,.page__ul li:last-child {
		display: none;
	}

	.page__ul {
		padding: 0;
	}
	.page__nav {
		transform: translate(35%,12%);
	}

	.news {
		height: 270px;
	}

	.news__input {
		padding-left: 0;
	}

	.news__input, .news__submit {
		padding-bottom: 8px;
	}

	.news__submit {
		padding: 0;
	}

	.news__form input[type=text],.news__form input[type=submit] {
		border-radius: 30px;
	}
	.news__form input[type=text] {
		text-align: center;
		padding: 0;
	}

	.body__fruit--title {
		margin: 0;
	}

	.list__sp a div img {
		height: 324px;
	}

	/*contact*/
	.fb__img--img img {
		height: 354px;
	}

	#about__title {
		font-size: 30px;
	}

	.fb__img--img {
		padding-bottom: 0; 
	}

	.product__list {
		max-height: none;
	}

	.contact__submit input[type=submit] {
		width: 100%;
	}

	.contact__submit {
		padding-right: 10px;
		padding-left: 10px;
	}

	.contact__submit {
		padding-top: 5px;
	}

	.contact__name input[type=text] {
		padding-left: 15px;
	}

	.form__contact--in4 div p {
		padding-left: 10px;
		width: 56px;
	}

	.form__contact--title {
		font-size: 22px;
		padding-left: 0; 
		text-align: center;
		padding-top: 30px;
    padding-bottom: 15px;
	}

	.form__gr3 {
		width: 150px;
		padding-left: 16px;
	}

	.form__gr3--text {
		padding-bottom: 25px;
	}

	.form__gr3--title {
		padding-bottom: 15px;
	}

	/*list-product*/

	.search form input {
		width: 100%;

	}
	.body__fruit--fruit h5 {
		width: 100%;
	}

	.body__fruit {
		padding: 0;
	}

	.sorting {
		height: 30px;
		margin-top: 25px;
		padding: 0 15px;
		margin-bottom: 20px;
	}

	.nextpage {
		display: none;
	}

	.sort h3{
		left: 0;
		transform: translate(7%, -50%);
		text-align: left;
		width: 88%;
	}

	.sort__title i {
		float: right;
	}

	/*product*/
	.basic__title {
		padding-bottom: 0;
		padding-top: 15px;
	}

	.basic__price {
		padding-bottom: 0;
	}

	.buy i {
		padding-left: 15px;
	}

	.buy__now {
		padding: 15px 40px;
	}

	.buy {
		padding-top: 0;
	}

	.product__in4 {
		padding-top: 45px;
	}

	.same__pro img {
		height: auto;
	}

	/*collection*/
	.collect p:nth-child(2),.collect p:nth-child(3),.collect p:nth-child(4) {
		display: none!important;
	}

	.collect p, .collection div,.collection p, .collection__fluid {
		padding: 0;
	}

	.tich {
		padding-left: 0;
	}

	.collect i {
		padding-left: 0px;
		padding-right: 15px;
	}

	.collection__title {
		padding-left: 10px!important;
		top: 0;
	}

	.collection__price {
		display: none!important;
	}

	.dongia {
		color: #51A60F;
		margin-top: -65px;
		margin-left: -15px;
	}

	.collection__num {
		margin-top: -20px;
	}

	.delete {
		color: red;
		display: none;
	}

	.thaotac {
		position: absolute;
		text-align: right!important;
		width: 85%;
	}

	.collect__total--total {
		justify-content: left!important;
		padding: 17px;
	}

	.collect__total--price {
		position: absolute;
		margin-top: 38px!important;
		margin-left: 182px!important;
		width: 30%;
	}

	#collect__buy {
		position: relative;
		left: 200px;
	}

	/*pay*/
	.pay__add--name {
		padding: 0;
		width: 60%;
		max-width: 60%;
		display: inline-block;
		padding-left: 15px;
	}

	.pay__num {
		width: 40%;
		max-width: 40%;
		display: inline-block;

	}

	.pay__add--address {
		padding-left:  15px;
		padding-bottom: 10px;
	}

	.pay__add--title i {
		padding-left: 0px;
		padding-right: 15px;
	}

	.pay__add {
		padding-bottom: 10px;
	}

	.pay__by--title, .transport--title {
		padding-bottom: 10px;
		padding-left: 0;
	}

	.transport__price {
		position: absolute;
		text-align: right;
		width: 80%;
	}

	.pay__by, .transport {
		padding-bottom: 10px;
	}

	.total__price {
		text-align: right;
	}

	.pay__button, .total {
		padding-right: 0px;
	}

}

@media (max-width: 414px){
	.dongia2 {
		margin-left: 0px;
	}
}

@media (max-width: 375px){
	.page__nav {
		transform: translate(28%,12%);
	}

	.list__sp a div img {
		height: 314px;
	}

	/*product*/
	.product__img img {
		width: 100%;
	}

	.buy i {
		padding-left: 5px;
		padding-right: 5px;
	}

	.buy__now {
		padding: 15px 30px;
	}

	.buy__add{
		font-size: 16px;
	}
	/*collection*/
	.dongia {
		margin-left: 10px;
	}

	.collection__num {
		margin-left: 25px;
	}

	#collect__buy {
		left: 150px;
	}

	/*contact*/
	.form__gr3 {
		width: 125px;
		padding-left: 11px;
	}

	.contact__name input {
    width: 68%;
}

.contact__name input[type=text] {
    padding-left: 10px;
}

.fb__img--img img {
    height: 315px;
}

.form__gr3--title i {
    padding-right: 10px;
}

.fb__title p {
    font-size: 22px;
}

}

@media (max-width: 320px){
	.page__nav {
		transform: translate(13%,12%);
	}
	.news__form {
		padding-right: 0;
	}

	.list__sp a div img {
		height: 260px;
	}
	/*product*/
	.share i {
		padding-left: 15px;
	}

	.buy__now {
		font-size: 16px;
		padding: 10px 20px;
	}

	.buy__add {
		font-size: 16px;
	}

	.buy i {
		padding-left: 0px;
		padding-right: 0px;
	}

	.buy .fa-2x {
		font-size: 1.5em;
	}

	/*contact*/
	.fb__img--img img {
    height: 260px;
}

.footer__icon i {
    padding: 10px 30px;
}


.fb__title p {
    font-size: 18px;
}
	/*collection*/
	.collection__num i {
		padding: 0 0px;
	}

	.dongia {
		margin-left: 30px;
	}

	#collect__buy {
		left: 100px;
	}

	/*pay*/
	.dongia2 {
		margin-left: 40px;
		margin-top: -50px;
	}

	.pay__num {
		width: 100%;
		max-width: 100%;
		padding-left: 15px;
	}

	.form__gr3--title i {
    font-size: 16px;
}

.form__gr3--title {
    font-size: 17px;
}

.form__contact--title {
    font-size: 17px;
}

.form__contact--in4 div p {
    padding-left: 4px;
    width: 49px;
}

.contact__name input[type=text] {
    padding-left: 5px;
}

.contact__name input {
    width: 65%;
}

.form__gr3--text {
    padding-bottom: 32px;
}

/*.contact__submit {
    padding-top: 0px;
}*/

.form__contact--title {
    padding-top: 25px;
}
}